<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>URLRewriteFilter</filter-name>
        <filter-class>filter.URLRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>URLRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DivideServlet</servlet-name>
        <servlet-class>controller.DivideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>controller.UserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardManagementServlet</servlet-name>
        <servlet-class>controller.DashboardManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <servlet-class>controller.ErrorHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseManagementServlet</servlet-name>
        <servlet-class>controller.CourseManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsCourseServlet</servlet-name>
        <servlet-class>controller.DetailsCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonServlet</servlet-name>
        <servlet-class>controller.LessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialServlet</servlet-name>
        <servlet-class>controller.MaterialServlet</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>LoadContentServlet</servlet-name>
        <servlet-class>controller.LoadContentServlet</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>ReadingServlet</servlet-name>
        <servlet-class>controller.ReadingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DivideServlet</servlet-name>
        <url-pattern>/DivideServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardManagementServlet</servlet-name>
        <url-pattern>/DashboardManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/ErrorHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseManagementServlet</servlet-name>
        <url-pattern>/CourseManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsCourseServlet</servlet-name>
        <url-pattern>/DetailsCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonServlet</servlet-name>
        <url-pattern>/LessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialServlet</servlet-name>
        <url-pattern>/MaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadVnpayServlet</servlet-name>
        <servlet-class>controller.LoadVnpayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadVnpayServlet</servlet-name>
        <url-pattern>/LoadVnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>LoadContentServlet</servlet-name>
        <url-pattern>/LoadContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingServlet</servlet-name>
        <url-pattern>/ReadingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>views/home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandlerServlet</location>
    </error-page>
</web-app>
