<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>URLRewriteFilter</filter-name>
        <filter-class>filter.URLRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>URLRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DivideServlet</servlet-name>
        <servlet-class>controller.DivideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>controller.UserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardManagementServlet</servlet-name>
        <servlet-class>controller.DashboardManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DivideServlet</servlet-name>
        <url-pattern>/DivideServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardManagementServlet</servlet-name>
        <url-pattern>/DashboardManagementServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>views/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
